@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes pulse-slow {
  0%, 100% { transform: scale(1); opacity: 0.3; }
  50% { transform: scale(1.1); opacity: 0.5; }
}

.animate-pulse-slow {
  animation: pulse-slow 8s infinite ease-in-out;
}